./datasets
/datasets

.env

./dataset
/dataset


# dont push the numpy indexed cached array
./clip_index.npz
clip_index.npz

datasets.zip
.datasets.zip
/datasets.zip

.env
*.env

./__pycache__
__pycache__
.__pycache__

checkpoints
.checkpoints
/checkpoints